@import "tailwindcss";
#root {
    height: 100%;
    width: 100%;
    position: relative;
}
body {
    height: 100%;
    width: 100%;
}
input {
    border-bottom: 1px solid gray;
}
.map {
    border: 1px solid black;
    height: 75vh;
    width: 75vh;
}
.burger {
    > * {
        border-top: 3px solid black;
    }
}
aside {
    > * {
        transition: transform 0.1s;
    }
    > *:hover {
        transform: scale(1.1);
    }
}
