@import "tailwindcss";
#root {
    height: 100%;
    width: 100%;
    position: relative;
}
body {
    height: 100%;
    width: 100%;
}
input {
    border-bottom: 1px solid gray;
}
.map {
    border: 1px solid black;
    height: 75vh;
    width: 75vh;
}
.burger {
    > * {
        border-top: 3px solid black;
    }
}
body {
    overflow-x: hidden;
}
aside {
    position: absolute;
    > * {
        transition: transform 0.1s;
    }
    > *:hover {
        transform: scale(1.1);
    }
}

.closing {
    animation: 1s closing 1 alternate forwards;
}
.opening {
    animation: 1s opening 1 alternate forwards;
}

@keyframes closing {
    from {
        opacity: 1;
        transform: translate(0);
    }
    to {
        opacity: 0;
        transform: translate(50vh);
    }
}
@keyframes opening {
    from {
        opacity: 0;
        transform: translate(50vh);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
}
@keyframes l1 {
    to {
        transform: rotate(0.5turn);
    }
}
