@import "tailwindcss";
input {
    border-bottom: 1px solid gray;
}
.map {
    border: 1px solid black;
    height: 75vh;
    width: 75vh;
}
aside {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25%;
    background-color: rgb(153, 64, 64);
}
.burger {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    > * {
        border-top: 3px solid black;
        height: calc(3rem / 3);
    }
}
.visible {
    visibility: visible;
}
